.button-place {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.4); /* Borde negro */
    background: rgba(0, 0, 0, 0.4);
    color: #e3e1e1; /* Color del texto */
    transition: 0.3s; /* Transición para el efecto hover */
    z-index: 2;
  
  }
  
  .button-place:hover {
    background: #1f1f1f; /* Fondo negro en hover */
    color: white; /* Texto blanco en hover */
  }

  .img-scale {
    overflow: hidden; /* Para recortar el contenido que se desborde */
    transition: transform 1s; /* Agrega una transición suave para el efecto */
  }
  
  .img-scale:hover {
    transform: scale(1.2); /* Aplica un aumento de escala del 120% en el hover */
  }