
  .custom-carousel .control-arrow {
    opacity: 0; /* Inicialmente, las flechas están ocultas */
    background-color: transparent; /* Fondo transparente */
    /* Añade estilos de flechas personalizados (por ejemplo, iconos) aquí */
  }
  .carousel-slide {
    position: relative;
    height: 100vh;
  }
  
  .carousel-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
    z-index: 1; /* Coloca este elemento sobre la imagen */
  }
  
  .image-container {
    position: relative;
  }
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto y cubre toda la pantalla */
    z-index: 0; /* Coloca la imagen detrás del elemento con el filtro */
  }
  @media (max-width: 768px) {
    .carousel-image {
      height: 100vh; 
      width: auto; 
    }
  }