/* Agrega estas clases en tu archivo de estilos CSS */
.carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .carousel-properties {
    width: 100%;
    height: auto;
    object-fit: cover;
    left: 0;
    position: sticky;
    scroll-snap-align: center;
  }
  .image-opacity {
    animation: fadeOpacity 0.5s ease-in-out; /* Adjusted durations */
  }
  
  @keyframes fadeOpacity {
    0% {
      opacity: 0.7; /* Start with half opacity */
    }
    100% {
      opacity: 1; /* End with full opacity */
    }
  }
  
  